/* 언어설정 */
@charset "utf-8";

/* 전체설정 */
* {margin: 0; padding: 0}
/* 마진과 패딩값을 0으로 초기화 */

#wrap {display: flex;}

/* 헤더설정 */
/* 클래스 이름을 부르는 것이어서 .을 찍고 부르기, 태그를 부르는 것이 아님 */

.header {display: flex;
        width: 100%;
        
        position: relative;
        /* position: relative은 나를 중심으로 다녀 */
        justify-content: flex-end;}
        /* 겹쳐지면서 가로 너비가 줄은것을 justify-content: end를 통해서 돌려두기 */

.header>h1 {
        background-color: #ffc8dd;
        width: 14%;
        height: 150px;
        position: absolute;
          /* position을하면 뛰어두는것이 문제이니 확인하고 사용하기 */
        left: 0;
        top: 0;
         /* h1인 로고가 문제인것 */
}



.header>nav {
        background-color: #ffc8dd;     
        width: 86%;
        height: 90px;
}
/* h1과 nav는 .이 안찍히는것이 맞음 반드시 {}만들어두기 */

/* 슬라이더 영역 */
.slider_section {
        width: 40%;
        background-color :#cdb4db;
        height: 500px;
        }

/* 갤러리 영역 */
.galley_section { background-color: #bde0fe; ;
        width: 40%;}

/* height를 안하는 이유는 앞의 슬라이더에 걸어주어서 안해도 됨
    이유는 엑셀처럼 앞에 걸어두면 뒤는 배열되기 때문 */

/* 브랜드 인기검색어 영역 (선생님기준 인기검색어) */
.B_rankup_section { 
        background-color: #ffafcc; ;
        width: 20%;
}

/* 좋아하는것 모음 영역 (선생님 기준 최신글영역)*/
.favorite_post_section{
        background-color:#f7f4d7;
        width: 25%;
        height: 400px;
}

/* SNS 영역 (선생님 기준 인기글 영역) */
.social_section {
        background-color: #fde4cf;
        width: 15%; 
}

/* 배너 영역 (선생님 기준 베너 영역) */
.banner_section {
        width: 30%;
        display: flex;
        flex-direction:column ;
}

.banner_section>div {flex: 1;}
.banner_box_01 {background-color:#ffcfd2;}
.banner_box_02 {background-color:#f7ed6ec9;}

/* 인기글 영역 (선생님기준 sns영역) */
.popular_post_section {
        background-color:#83ecac ;
        width: 30%;
}

/* 푸터영역 */
.footer { width: 100%;
        background-color:#98f5e1 ;
        height: 100px;
}