@charset "UTF-8";

/* 구글 폰트 : 글씨 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

/* 전체 설정 */
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

/* body 전체 설정 */
body {
  background-image: linear-gradient(to left, #efe8d5 50%, #faf6ed 50%);
  background-size: 80px 100%;
}
/* 뒤에 줄무늬 배경 만들기 방법 */

/* header 설정 ----------------------------------------------------  */
header {
  background-image: url(../../img/header.svg);
  height: 190px;
  background-size: cover;
  background-position: center top;
  margin-top: 40px;
}

header .logo {
  font-size: 60px;
  color: rgba(59, 49, 0, 0.623);
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: normal;
  padding-top: 30px;
}

header p {
  color: rgba(59, 49, 0, 0.623);
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.container {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* 포스트 내용 */

.post_home {
  margin-bottom: 50px;
  position: relative;
}

/* 포스트 타이틀 내용 */
.post_title {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(204, 204, 204, 1) 30%,
    rgba(204, 204, 204, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(204, 204, 204, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 80%,
    rgba(204, 204, 204, 1) 80%,
    rgba(204, 204, 204, 1) 100%
  );
  background-size: 8px 8px;
  padding-bottom: 10px;
  margin-bottom: 24px;
}

.post_title h2 {
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 14px;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

.post_title h2 a {
  color: rgba(59, 49, 0, 0.623);
  text-decoration: none;
}

.post_title a:hover {
  color: #000;
}

/* 포스트 이미지 내용 */

.post_img {
  float: left;
  shape-outside: circle();
  position: relative;
}

.post_img img {
  border-radius: 40% 70% 50% 30%/ 50%;
  object-fit: cover;
  height: 180px;
  width: 220px;
  margin-right: 50px;
}

.post_img .date {
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 24px;
  width: 80px;
  height: 80px;
  background-color: #93d8d0;
  text-align: center;
  font-family: "Amatic SC", cursive;
  color: #fff;
  border-radius: 40% 60% 50% 70%/ 50%;
}

.post_img .date span {
  display: block;
  padding-top: 8px;
}

.post_story {
  color: rgba(59, 49, 0, 0.623);
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.6;
}

.post_home::after {
  content: "";
  clear: both;
  display: block;
}

.post_more {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -20px;
}

.post_more a {
  background-color: #ffc4c4;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border: 3px dashed #f7a8a8;
  box-shadow: 0 0 0 5px #ffc4c4;
  margin-bottom: 0;
}

.post_more a:hover {
  color: #fff;
  background-color: #f7a8a8;
  box-shadow: 0 0 0 5px #f7a8a8;
  border: 3px dashed #ffc4c4;
}

/* 사이드 구간 설정 */
.side_section {
}

.side_section > div {
  margin-bottom: 40px;
  border: 1px solid #ccc;
  outline: 2px solid #ccc;
  outline-offset: 4px;
  border-radius: 6px;
  padding: 16px;
}

.side_section > div > h3 {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  color: rgba(59, 49, 0, 0.623);
  margin-top: 14px;
  margin-bottom: 18px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
}

.side_section > div ul {
  list-style: none;
}

.side_section > div li {
  border-bottom: 1px dashed #ccc;
  display: flex;
  align-items: center;
}

.side_section > div li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #93d8d0;
  display: inline-block;
  align-items: center;
  margin-right: 10px;
}

.side_section > div a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: rgba(59, 49, 0, 0.623);
  flex: 1;
  /* 동그라미 원 모양 때문에 flex 1 */
}

.news p {
  font-size: 14px;
  color: rgba(59, 49, 0, 0.623);
  margin-top: 20px;
  margin-bottom: 20px;
}

.news form {
  display: flex;
}
.news input {
  padding: 16px;
}

.news input:focus {
  outline: none;
}

.news input[type="email"] {
  width: 70%;
  border-radius: 10px 0 0 10px;
  border: 2px solid #ccc;
  border-right: none;
}

.news input[type="email"]::placeholder {
  color: #ccc;
}

.news input[type="submit"] {
  width: 30%;
  border-radius: 0 10px 10px 0;
  background-color: #ffc4c4;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin-left: -5px;
}

.news input[type="submit"]:hover {
  background: #f7a8a8;
}

/* 퍼지네이션 영역 */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  margin: 0 5px;
}
.pagination li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgba(59, 49, 0, 0.623);
  width: 36px;
  height: 36px;
  /* 짝수 개념으로만들기 */
  border-radius: 50%;
  text-decoration: none;
}

/* 정답은 없지만 내가 기준 잡기, 글씨를 담은 최종 태그에게 기준으로하기
a를 담고있는 그릇이다. 글씨 */

/* a는 구조 li는 공간 */

.pagination li a:hover {
  background-color: #93d8d0;
  color: #fff;
}

.pagination li:last-child a:hover {
  background-color: transparent;
  /* 투명값 */
  color: rgba(59, 49, 0, 0.623);
  text-decoration: underline;
}

.pagination li:first-child a {
  background-color: rgb(214, 210, 185);
  color: #fff;
}

.pagination li:first-child a:hover {
  background-color: rgb(214, 210, 185);
  color: #fff;
  opacity: 0.8;
}

/* 페이지와페이지의 구분라인  */
.pagination li::after {
  content: "\2027";
  margin-left: 20px;
  color: rgb(214, 210, 185);
}

.pagination li:last-child::after {
  content: "\0020";
  margin-left: 20px;
  color: rgb(214, 210, 185);
}

.pagination li:nth-child(4)::after {
  contn: "\0020";
  margin-left: -10px;
  color: rgb(214, 210, 185);
}

/* 푸터설정 */
footer {
  background-color: #bbb6a9;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 12px;
}

footer li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
footer li a:hover {
  color: #000;
}
footer p {
  font-size: 14px;
  margin-top: 20px;
  color: #333;
}

/* 미디어 쿼리 구간 */
/* 600px 이상 구간 */
@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .main_section {
    width: 68%;
  }
  .side_section {
    width: 26%;
  }
}

/* 1140px 이상 구간 */
@media (min-width: 1140px) {
  header,
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  header {
    margin-top: 40px;
  }
}
